<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
          <form method="get" action="{{ '' | absolute_url }}search/{{ navlang }}">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>{{ site.data.messages.locales[navlang].menu }}</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}{{ navlang }}/">{{ site.data.messages.locales[navlang].home }}</a></li>
            <li><a href="{{ '' | absolute_url }}about/{{ navlang }}/">{{ site.data.messages.locales[navlang].about }}</a></li>
            <li>
              <span class="opener">{{ site.data.messages.locales[navlang].languages }}</span>
              <ul>
                {% for link in site.data.navigation.locales[navlang].languages %}
                  {% assign ref_page=lang_ref_pages | where:"lang", link.lang | first %}
                  {% if ref_page %}
                    <li><a href="{{ site.url }}{{ ref_page.url }}">{{ link.title }}</a></li>
                  {% else %}
                    <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>
                <span class="opener">{{ site.data.messages.locales[navlang].posts }}</span>
                <ul>
                    {% for link in site.data.navigation.locales[navlang].posts %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                    {% endif %}
                    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" ref="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                    {% for link in site.data.navigation.locales[navlang].tags %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                    {% endif %}
                    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" ref="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <span class="opener">{{ site.data.messages.locales[navlang].pages }}</span>
                <ul>
                    {% for link in site.data.navigation.locales[navlang].pages %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                        {% else %}
                        {% assign domain = site.url %}
                    {% endif %}
                    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" ref="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
          </ul>
        </nav>
      <!-- Section -->
        <section>
          <header class="major">
            <h2>{{ site.data.messages.locales[navlang].get_in_touch }}</h2>
          </header>
        <ul class="icons">
            {% if site.twitter_url %}
            <li><a href="{{ site.twitter_url }}" class="iconb fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            {% endif %}
            {% if site.googleplus_url %}
            <li><a href="{{ site.googleplus_url }}" class="iconb fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
            {% endif %}
            {% if site.facebook_url %}
            <li><a href="{{ site.facebook_url }}" class="iconb fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
            {% endif %}
            {% if site.instagram_url %}
            <li><a href="{{ site.instagram_url }}" class="iconb fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
            {% endif %}
            {% if site.pinterest_url %}
            <li><a href="{{ site.pinterest_url }}" class="iconb fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
            {% endif %}
            {% if site.500px_url %}
            <li><a href="{{ site.500px_url }}" class="iconb fa-500px" target="_blank"><span class="label">500px</span></a></li>
            {% endif %}
            {% if site.gitlab_url %}
            <li><a href="{{ site.gitlab_url }}" class="iconb fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
            {% endif %}
            {% if site.github_url %}
            <li><a href="{{ site.github_url }}" class="iconb fa-github" target="_blank"><span class="label">GitHub</span></a></li>
            {% endif %}
            {% if site.slack_url %}
            <li><a href="{{ site.slack_url }}" class="iconb fa-slack" target="_blank"><span class="label">Slack</span></a></li>
            {% endif %}
            {% if site.linkedin_url %}
            <li><a href="{{ site.linkedin_url }}" class="iconb fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
            {% endif %}
            {% if site.xing_url %}
            <li><a href="{{ site.xing_url }}" class="iconb fa-xing" target="_blank"><span class="label">Xing</span></a></li>
            {% endif %}
          </ul>
        <ul class="contact">
            {% if site.email %}
            <li class="fa fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            {% endif %}
            {% if site.phone %}
            <li class="fa fa-phone">{{ site.phone }}</li>
            {% endif %}
            <li class="fa fa-home">
              Marco Stolze (alias Mc Pride)<br />
              {% if site.street_address %}
                {{ site.street_address }}<br />
              {% endif %}
              {% if site.city %}
                {% if site.zip_code %}
                  {{ site.zip_code }}&nbsp;
                {% endif %}
                {{ site.city }} 
              {% endif %}
              {% if site.country %}, {{ site.country }}
              {% endif %}
            </li>
          </ul>
        </section>
      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; Marco Stolze. All rights reserved. <br />
            Design based on: <a href="https://html5up.net/editorial">Editorial theme</a>. 
            <br /> 
            <br />
            <a href="{{ '' | absolute_url }}impressum/{{ navlang }}/">Impressum</a>
          </p>
        </footer>
    </div>
  </div>
