<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>{{ site.author }}</h2>
        <p>{{ site.bio }}</p>
      </header>
      {% if navlang == 'de' %}
      {% include intro-de.md %}
      {% else %}
      {% include intro-en.md %}
      {% endif %}
      <ul class="actions">
        <li><a href="{{ site.url }}/posts/{{ navlang }}/" class="button big">{{ site.data.messages.locales[navlang].btn_more }}</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="{{ site.url }}/assets/img/wolfgang.jpg" alt="" />
    </span>
  </section>