--- 
layout: compress 
---
<!DOCTYPE HTML>
{% include navlang.html %}
<html lang="{{ navlang }}">
{% include head.html %}
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                {% include header.html %}
                <!-- Content -->
                <section>
                    <header class="main">
                        {% if page.date %}
                        <p>{{ page.date | date_to_string }}</p>
                        {% endif %}
                        {% if site.reading_time %}
                        <p class="reading-time">
                            {% include read-time.html %}
                        </p>
                        {% endif %}
                    </header>
                    {% if page.image %}
                    <span class="image main">
                        <img src="{{ page.image | absolute_url }}" alt="" />
                    </span>
                    {% endif %}
                    <h1 id="top" style="font-size: 0px; margin: 0px;">{{ page.title }}</h1>
                    {{ content }}
                </section>
                <br />
                <!--<a href="#top" class="button">{{ site.data.messages.locales[navlang].go_to_top }}</a>-->
                {% include page-tags.html %} 
                {% if page.comments and site.disqus_shortname %}
                <section id="disqus_thread"
                    class="animated fadeInUp"></section>
                <!-- /#disqus_thread -->
                {% endif %}
            </div>
        </div>
        {% include sidebar.html %}
    </div>
    {% include footer.html %}
</body>

</html>